<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.NoteMapper">

    <!--新增筆記-->
    <insert id="insertNote" parameterType="com.example.demo.pojo.Notes">
        INSERT INTO notes (user_id, content, created_at, tag_name, tag_color, created_tag_time)
        VALUES (#{user_id}, #{content}, #{created_at}, #{tag_name}, #{tag_color}, #{created_tag_time})
    </insert>

    <!--查詢筆記-->
    <select id="getNoteByUserId" parameterType="com.example.demo.pojo.Notes">
        SELECT * FROM notes WHERE user_id = #{user_id}
    </select>

    <!--刪除筆記-->
    <delete id="deleteNoteById" parameterType="int">
        DELETE FROM notes WHERE note_id = #{note_id}
    </delete>

    <!--修改筆記-->
    <update id="updateNoteById" parameterType="com.example.demo.pojo.Notes">
        UPDATE notes
        SET content = #{content},
        created_at = #{created_at},
        tag_name = #{tag_name},
        tag_color = #{tag_color},
        created_tag_time = #{created_tag_time}
        WHERE note_id = #{note_id}
    </update>

</mapper>